<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jose Bento</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: blue;">
    <div class="container">
      <a class="navbar-brand" style="color: white;" th:href="@{/}">Biblioteca Jose Bento</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/usuario/login}" style="color: white;">Login</a>
          </li>
        </ul>
      </div>    
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container login-container">
    <!-- Imagen a la izquierda -->
    <div class="login-image"></div>

    <!-- Formulario de inicio de sesión a la derecha -->
    <div class="login-form">
      <h2 class="login-header">Iniciar Sesión</h2>
      <form th:action="@{/usuario/acceder}" method="post" id="loginForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required autocomplete="off"> 
          <small id="emailError" class="text-danger" style="display: none;">*Email incorrecto: El formato debe ser example@dominio.com</small>
        </div>

        <div class="form-group">
          <label for="pwd">Contraseña:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark btn-block">Ingresar</button>
        </div>
      </form>
      <a th:href="@{/usuario/registro}" class="card-link">Si aún no tiene cuenta, aquí puede registrarse</a>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:include="usuario/template_usuario.html::footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Custom JavaScript para validation -->
  <script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
      var emailInput = document.getElementById("email");
      var emailError = document.getElementById("emailError");
      var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

      if (!emailPattern.test(emailInput.value)) {
        emailError.style.display = "block";  // Muestra el mensaje de error
        event.preventDefault();  // Evita el envío del formulario
      } else {
        emailError.style.display = "none";  // Oculta el mensaje de error
      }
    });
  </script>

</body>
</html>
